<a href="https://colab.research.google.com/github/nisha1365/Python-basics/blob/main/18_08_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.LISTS

Creating a list

In [1]:

mylist = ["apple", "banana", "cherry"]

In [2]:
print(mylist)

['apple', 'banana', 'cherry']

Allow Duplicates

Since lists are indexed, lists can have items with the same value:

```
`# This is formatted as code`
```

In [3]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

List Length

To determine how many items a list has, use the len() function:*italicized

In [4]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

List Items - Data Types

List items can be of any data type:

In [5]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

type()

From Python's perspective, lists are defined as objects with the data type 'list':

In [6]:
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

<class 'list'>

Access Items

List items are indexed and you can access them by referring to the index number:

In [7]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

Negative Indexing

Negative indexing means start from the end

In [8]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

Range of Indexes

You can specify a range of indexes by specifying where to start and where to end the range.

In [9]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

Check if Item Exists

To determine if a specified item is present in a list use the in keyword:

In [10]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

Change Item Value

To change the value of a specific item, refer to the index number:

In [11]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

Insert Items

To insert a new list item, without replacing any of the existing values, we can use the insert() method.

In [12]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

Append Items

To add an item to the end of the list, use the append() method:

In [13]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

Extend List

To append elements from another list to the current list, use the extend() method.

In [14]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

Remove Specified Item

The remove() method removes the specified item.

In [15]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

Remove Specified Index

The pop() method removes the specified index.

In [16]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

The del keyword also removes the specified index:

In [17]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

Clear the List

The clear() method empties the list.

In [18]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

Loop Through a List

You can loop through the list items by using a for loop:

In [19]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

Loop Through the Index Numbers

You can also loop through the list items by referring to their index number.

In [20]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

Using a While Loop

You can loop through the list items by using a while loop.

In [21]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

Looping Using List Comprehension

List Comprehension offers the shortest syntax for looping through lists:

In [22]:
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

List Comprehension

List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

In [23]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

Sort List Alphanumerically

List objects have a sort() method that will sort the list alphanumerically, ascending, by default

In [24]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

Sort Descending

To sort descending, use the keyword argument reverse = True:

In [25]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

Customize Sort Function

You can also customize your own function by using the keyword argument key = function.

In [26]:
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[50, 65, 23, 82, 100]

if you want a case-insensitive sort function, use str.lower as a key function:

In [27]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

The reverse() method reverses the current sorting order of the elements.

In [28]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

Copy a List

You cannot copy a list simply by typing list2 = list1, because: list2 will only be a reference to list1, and changes made in list1 will automatically also be made in list2.

In [29]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

Join Two Lists
There are several ways to join, or concatenate, two or more lists in Python.

In [30]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

Or you can use the extend() method, which purpose is to add elements from one list to another list:

In [31]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

Clear the List
The clear() method empties the list.

In [32]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

2.SETS

Sets are used to store multiple items in a single variable.

In [33]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'banana', 'cherry', 'apple'}

Duplicates Not Allowed

Sets cannot have two items with the same value.

In [34]:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'banana', 'cherry', 'apple'}

Get the Length of a Set
To determine how many items a set has, use the len() function.

In [35]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

Set Items - Data Types
Set items can be of any data type:

In [36]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

type()
From Python's perspective, sets are defined as objects with the data type 'set':

In [37]:
myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

The set() Constructor
It is also possible to use the set() constructor to make a set.

In [38]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'banana', 'cherry', 'apple'}

Access Items
You cannot access items in a set by referring to an index or a key.

But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

In [39]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

banana
cherry
apple

Check if "banana" is present in the set:

In [40]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

Add an item to a set, using the add() method:

In [41]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'banana', 'cherry', 'orange', 'apple'}

Add Sets
To add items from another set into the current set, use the update() method.

In [42]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'papaya', 'banana', 'pineapple', 'apple', 'mango', 'cherry'}

Remove Item
To remove an item in a set, use the remove(), or the discard() method.

In [43]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'cherry', 'apple'}

Remove "banana" by using the discard() method:

In [44]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'cherry', 'apple'}

Remove the last item by using the pop() method:

In [45]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

banana
{'cherry', 'apple'}

The clear() method empties the set:

In [46]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

Loop Items
You can loop through the set items by using a for loop:

In [49]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

banana
cherry
apple

The union() method returns a new set with all items from both sets:

In [50]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'c', 'b', 'a'}

The update() method inserts the items in set2 into set1:

In [51]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 3, 'c', 'b', 'a'}

Keep ONLY the Duplicates
The intersection_update() method will keep only the items that are present in both sets.

In [52]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

Return a set that contains the items that exist in both set x, and set y:

In [53]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

Keep All, But NOT the Duplicates
The symmetric_difference_update() method will keep only the elements that are NOT present in both sets.

In [54]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'banana', 'microsoft', 'cherry', 'google'}

3.TUPLES

Create a Tuple:

In [55]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

Tuples allow duplicate values:

In [56]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

To determine how many items a tuple has, use the len() function:

In [57]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

Tuple items can be of any data type:

In [58]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

type()

In [59]:
mytuple = ("apple", "banana", "cherry")
print(type(mytuple))

<class 'tuple'>

Access Tuple Items

In [60]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

Print the last item of the tuple:

In [61]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

Return the third, fourth, and fifth item:

In [62]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

To determine if a specified item is present in a tuple use the in keyword:

In [63]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.

Convert the tuple into a list to be able to change it:

In [64]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

Join two tuples:

In [65]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

Multiply Tuples

In [66]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

count() Method

In [67]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.count(5)

print(x)

2

4. DICTIONARY

clear()	Removes all the elements from the dictionary

In [68]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.clear()

print(car)

{}

copy()	Returns a copy of the dictionary

In [69]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.copy()

print(x)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

fromkeys()	Returns a dictionary with the specified keys and value

In [70]:
x = ('key1', 'key2', 'key3')
y = 0

thisdict = dict.fromkeys(x, y)

print(thisdict)

{'key1': 0, 'key2': 0, 'key3': 0}

get()	Returns the value of the specified key

In [71]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.get("model")

print(x)

Mustang

items()	Returns a list containing a tuple for each key value pair

In [72]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.items()

print(x)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

keys()	Returns a list containing the dictionary's keys

In [73]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.keys()

print(x)

dict_keys(['brand', 'model', 'year'])

pop()	Removes the element with the specified key

In [74]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.pop("model")

print(car)

{'brand': 'Ford', 'year': 1964}

popitem()	Removes the last inserted key-value pair

In [75]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.popitem()

print(car)

{'brand': 'Ford', 'model': 'Mustang'}

setdefault()	Returns the value of the specified key. If the key does not exist: insert the key, with the specified value

In [76]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.setdefault("model", "Bronco")

print(x)

Mustang

update()	Updates the dictionary with the specified key-value pairs

In [77]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.update({"color": "White"})

print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'White'}

values()	Returns a list of all the values in the dictionary

In [78]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.values()

print(x)

dict_values(['Ford', 'Mustang', 1964])