<a href="https://colab.research.google.com/github/nisha1365/Python-basics/blob/main/Frequency_distributionipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing necessary libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

Getting CSV file using pandas

In [2]:
df = pd.read_csv('/content/candy.csv')

First five values

In [3]:
df.head()

,id,competitorname,chocolate,fruity,caramel,peanutyalmondy,nougat,crispedricewafer,hard,bar,pluribus,sugarpercent,pricepercent,winpercent
0,0,100 Grand,Yes,No,Yes,No,No,Yes,No,Yes,No,0.732,0.860,66.971725
1,1,3 Musketeers,Yes,No,No,No,Yes,No,No,Yes,No,0.604,0.511,67.602936
2,2,Air Heads,No,Yes,No,No,No,No,No,No,No,0.906,0.511,52.341465
3,3,Almond Joy,Yes,No,No,Yes,No,No,No,Yes,No,0.465,0.767,50.347546
4,4,Baby Ruth,Yes,No,Yes,Yes,Yes,No,No,Yes,No,0.604,0.767,56.914547

In [4]:
df.shape

(83, 14)

In [5]:
df.isnull().sum()

id                  0
competitorname      0
chocolate           0
fruity              0
caramel             0
peanutyalmondy      0
nougat              0
crispedricewafer    0
hard                0
bar                 0
pluribus            0
sugarpercent        0
pricepercent        0
winpercent          0
dtype: int64

FREQUENCY DISTRIBUTION FOR EACH COLUMNS

1. CHOCOLATE

In [25]:
table_1 = pd.crosstab(index=df['chocolate'], columns = 'Frequency')

In [26]:
table_1

col_0      Frequency
chocolate
No                46
Yes               37

In [27]:
table_1['percent']=table_1['Frequency']/table_1['Frequency'].sum()*100

In [28]:
table_1

col_0      Frequency    percent
chocolate
No                46  55.421687
Yes               37  44.578313

2. FRUITY

In [29]:
table_2 = pd.crosstab(index=df['fruity'], columns = 'Frequency')
table_2

col_0   Frequency
fruity
No             45
Yes            38

In [30]:
table_2['percent']=table_2['Frequency']/table_2['Frequency'].sum()*100
table_2

col_0   Frequency    percent
fruity
No             45  54.216867
Yes            38  45.783133

3.CARAMEL

In [31]:
table_3 = pd.crosstab(index=df['caramel'], columns = 'Frequency')
table_3

col_0    Frequency
caramel
No              69
Yes             14

In [32]:
table_3['percent']=table_3['Frequency']/table_3['Frequency'].sum()*100
table_3

col_0    Frequency   percent
caramel
No              69  83.13253
Yes             14  16.86747

4.peanutyalmondy

In [33]:
table_4 = pd.crosstab(index=df['peanutyalmondy'], columns = 'Frequency')
table_4

col_0           Frequency
peanutyalmondy
No                     69
Yes                    14

In [34]:
table_4['percent']=table_4['Frequency']/table_4['Frequency'].sum()*100
table_4

col_0           Frequency   percent
peanutyalmondy
No                     69  83.13253
Yes                    14  16.86747

5.nougat

In [35]:
table_5 = pd.crosstab(index=df['nougat'], columns = 'Frequency')
table_5

col_0   Frequency
nougat
No             76
Yes             7

In [36]:
table_5['percent']=table_5['Frequency']/table_5['Frequency'].sum()*100
table_5

col_0   Frequency    percent
nougat
No             76  91.566265
Yes             7   8.433735

6.crispedricewafer

In [37]:
table_6 = pd.crosstab(index=df['crispedricewafer'], columns = 'Frequency')
table_6

col_0             Frequency
crispedricewafer
No                       76
Yes                       7

In [38]:
table_6['percent']=table_6['Frequency']/table_6['Frequency'].sum()*100
table_6

col_0             Frequency    percent
crispedricewafer
No                       76  91.566265
Yes                       7   8.433735

7.hard

In [39]:
table_7 = pd.crosstab(index=df['hard'], columns = 'Frequency')
table_7

col_0  Frequency
hard
No            68
Yes           15

In [40]:
table_7['percent']=table_7['Frequency']/table_7['Frequency'].sum()*100
table_7

col_0  Frequency    percent
hard
No            68  81.927711
Yes           15  18.072289

8. bar

In [41]:
table_8 = pd.crosstab(index=df['bar'], columns = 'Frequency')
table_8

col_0  Frequency
bar
No            62
Yes           21

In [42]:
table_8['percent']=table_8['Frequency']/table_8['Frequency'].sum()*100
table_8

col_0  Frequency    percent
bar
No            62  74.698795
Yes           21  25.301205

9.plubris

In [43]:
table_9 = pd.crosstab(index=df['pluribus'], columns = 'Frequency')
table_9

col_0     Frequency
pluribus
No               39
Yes              44

In [44]:
table_9['percent']=table_9['Frequency']/table_9['Frequency'].sum()*100
table_9

col_0     Frequency    percent
pluribus
No               39  46.987952
Yes              44  53.012048

10. sugarpercent

In [45]:
table_10 = pd.crosstab(index=df['sugarpercent'], columns = 'Frequency')
table_10

col_0         Frequency
sugarpercent
0.034                 1
0.046                 2
0.069                 2
0.093                 3
0.127                 2
0.151                 1
0.162                 1
0.174                 1
0.186                 1
0.197                 2
0.220                 4
0.267                 3
0.302                 1
0.313                 8
0.406                 1
0.418                 1
0.430                 3
0.465                 7
0.546                 2
0.569                 1
0.581                 1
0.593                 1
0.604                10
0.720                 1
0.732                 8
0.825                 2
0.848                 1
0.860                 1
0.872                 3
0.906                 3
0.941                 2
0.965                 2
0.988                 1

In [46]:
table_10['percent']=table_10['Frequency']/table_10['Frequency'].sum()*100
table_10

col_0         Frequency    percent
sugarpercent
0.034                 1   1.204819
0.046                 2   2.409639
0.069                 2   2.409639
0.093                 3   3.614458
0.127                 2   2.409639
0.151                 1   1.204819
0.162                 1   1.204819
0.174                 1   1.204819
0.186                 1   1.204819
0.197                 2   2.409639
0.220                 4   4.819277
0.267                 3   3.614458
0.302                 1   1.204819
0.313                 8   9.638554
0.406                 1   1.204819
0.418                 1   1.204819
0.430                 3   3.614458
0.465                 7   8.433735
0.546                 2   2.409639
0.569                 1   1.204819
0.581                 1   1.204819
0.593                 1   1.204819
0.604                10  12.048193
0.720                 1   1.204819
0.732                 8   9.638554
0.825                 2   2.409639
0.848                 1   1.204819
0.860                 1   1.204819
0.872                 3   3.614458
0.906                 3   3.614458
0.941                 2   2.409639
0.965                 2   2.409639
0.988                 1   1.204819

11.pricepercent

In [47]:
table_11 = pd.crosstab(index=df['pricepercent'], columns = 'Frequency')
table_11

col_0         Frequency
pricepercent
0.011                 1
0.023                 1
0.034                 2
0.058                 1
0.069                 1
0.081                 1
0.093                 1
0.104                 1
0.116                 8
0.220                 3
0.255                 1
0.267                 1
0.279                 3
0.313                 1
0.325                10
0.441                 1
0.453                 1
0.465                 4
0.511                11
0.651                 9
0.755                 1
0.767                 6
0.837                 1
0.848                 1
0.860                 4
0.906                 1
0.918                 4
0.965                 1
0.976                 2

In [48]:
table_11['percent']=table_11['Frequency']/table_11['Frequency'].sum()*100
table_11

col_0         Frequency    percent
pricepercent
0.011                 1   1.204819
0.023                 1   1.204819
0.034                 2   2.409639
0.058                 1   1.204819
0.069                 1   1.204819
0.081                 1   1.204819
0.093                 1   1.204819
0.104                 1   1.204819
0.116                 8   9.638554
0.220                 3   3.614458
0.255                 1   1.204819
0.267                 1   1.204819
0.279                 3   3.614458
0.313                 1   1.204819
0.325                10  12.048193
0.441                 1   1.204819
0.453                 1   1.204819
0.465                 4   4.819277
0.511                11  13.253012
0.651                 9  10.843373
0.755                 1   1.204819
0.767                 6   7.228916
0.837                 1   1.204819
0.848                 1   1.204819
0.860                 4   4.819277
0.906                 1   1.204819
0.918                 4   4.819277
0.965                 1   1.204819
0.976                 2   2.409639

12.winpercent

In [49]:
table_12 = pd.crosstab(index=df['winpercent'], columns = 'Frequency')
table_12

col_0       Frequency
winpercent
22.445341           1
23.417824           1
24.524988           1
27.303865           1
28.127439           1
...               ...
76.673782           1
76.768600           1
81.642914           1
81.866257           1
84.180290           1

[83 rows x 1 columns]

In [50]:
table_12['percent']=table_12['Frequency']/table_12['Frequency'].sum()*100
table_12

col_0       Frequency   percent
winpercent
22.445341           1  1.204819
23.417824           1  1.204819
24.524988           1  1.204819
27.303865           1  1.204819
28.127439           1  1.204819
...               ...       ...
76.673782           1  1.204819
76.768600           1  1.204819
81.642914           1  1.204819
81.866257           1  1.204819
84.180290           1  1.204819

[83 rows x 2 columns]