<a href="https://colab.research.google.com/github/nisha1365/Python-basics/blob/main/Logistic_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:

data = pd.read_csv("/content/User_data.csv")

In [3]:
data.head()

   User ID  Gender  Age  EstimatedSalary  Purchased
0        1    Male   19            19000          0
1        2    Male   35            20000          0
2        3  Female   26            43000          0
3        4  Female   27            57000          0
4        5    Male   17            76000          0

In [5]:
# input
x = data.iloc[:, [2, 3]].values
  
# output
y = data.iloc[:, 4].values

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.25, random_state = 0)

In [10]:
from sklearn.preprocessing import StandardScaler
sc_x = StandardScaler()
X_train = sc_x.fit_transform(X_train) 
X_test = sc_x.transform(X_test)
  
print (X_train[0:10, :])

[[ 1.60731418 -1.02601437]
 [ 0.29551516  0.70708966]
 [-1.21809909  0.4720925 ]
 [-0.30993054 -0.49727077]
 [-0.20902292 -0.0566511 ]
 [-1.11719147 -1.23163688]
 [-0.30993054  0.14897141]
 [-0.41083815  2.6458162 ]
 [ 1.7082218  -0.99663973]
 [-0.91537624 -0.23289897]]

TRAINING THE MODEL

In [12]:

from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(random_state = 0)
classifier.fit(X_train, y_train)

LogisticRegression(random_state=0)

In [13]:

y_pred = classifier.predict(X_test)

In [14]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
  
print ("Confusion Matrix : \n", cm)

Confusion Matrix :
 [[4 0]
 [1 0]]

In [16]:

from sklearn.metrics import accuracy_score
print ("Accuracy : ", accuracy_score(y_test, y_pred))

Accuracy :  0.8