<a href="https://colab.research.google.com/github/nisha1365/Python-basics/blob/main/Logistic_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:

data = pd.read_csv("/content/User_data.csv")

In [4]:
data.head()

   User ID  Gender  Age  EstimatedSalary  Purchased
0        1    Male   19            19000          0
1        2    Male   35            20000          0
2        3  Female   26            43000          0
3        4  Female   27            57000          0
4        5    Male   17            76000          0

In [5]:
data.describe

<bound method NDFrame.describe of     User ID  Gender  Age  EstimatedSalary  Purchased
0         1    Male   19            19000          0
1         2    Male   35            20000          0
2         3  Female   26            43000          0
3         4  Female   27            57000          0
4         5    Male   17            76000          0
5         6    Male   27            58000          0
6         7  Female   32            84000          0
7         8  Female   25           150000          1
8         9    Male   35            33000          0
9        10  Female   26            65000          0
10       11  Female   26            80000          0
11       12  Female   20            52000          0
12       13    Male   32            86000          0
13       14    Male   18            18000          0
14       15    Male   29            82000          0
15       16    Male   47            80000          0
16       17    Male   45            25000          1
17       18    Male   46            26000          1
18       19    Male   45            28000          1>

In [6]:
data.corr()

                  User ID       Age  EstimatedSalary  Purchased
User ID          1.000000  0.593334        -0.038819   0.518545
Age              0.593334  1.000000        -0.185996   0.543245
EstimatedSalary -0.038819 -0.185996         1.000000   0.004783
Purchased        0.518545  0.543245         0.004783   1.000000

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          19 non-null     int64
 1   Gender           19 non-null     object
 2   Age              19 non-null     int64
 3   EstimatedSalary  19 non-null     int64
 4   Purchased        19 non-null     int64
dtypes: int64(4), object(1)
memory usage: 888.0+ bytes

In [ ]:
# input
x = data.iloc[:, [2, 3]].values
  
# output
y = data.iloc[:, 4].values

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.25, random_state = 0)

In [ ]:
from sklearn.preprocessing import StandardScaler
sc_x = StandardScaler()
X_train = sc_x.fit_transform(X_train) 
X_test = sc_x.transform(X_test)
  
print (X_train[0:10, :])

[[ 1.60731418 -1.02601437]
 [ 0.29551516  0.70708966]
 [-1.21809909  0.4720925 ]
 [-0.30993054 -0.49727077]
 [-0.20902292 -0.0566511 ]
 [-1.11719147 -1.23163688]
 [-0.30993054  0.14897141]
 [-0.41083815  2.6458162 ]
 [ 1.7082218  -0.99663973]
 [-0.91537624 -0.23289897]]

TRAINING THE MODEL

In [ ]:

from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(random_state = 0)
classifier.fit(X_train, y_train)

LogisticRegression(random_state=0)

In [ ]:

y_pred = classifier.predict(X_test)

In [ ]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
  
print ("Confusion Matrix : \n", cm)

Confusion Matrix :
 [[4 0]
 [1 0]]

In [ ]:

from sklearn.metrics import accuracy_score
print ("Accuracy : ", accuracy_score(y_test, y_pred))

Accuracy :  0.8